.taokhung{
    border: 1px solid black;
    width: 460px;
    padding: 5px;
    background-color: lightgoldenrodyellow;
}
.thbg{background-color: lightgreen;
    color: blue;
    text-align: left;
    padding: inherit;
    width: 450px;
    font-size: 25px;
}
.hbcolor{
    color: orange;
}
.tdmain{
    color: blue;
    text-align: left;
}
.wufoo {
    font-family: Arial; sans-serif;
}
.tdhb{
    color: blue;
    text-align: left;
    padding-left: 57px;
}

