body{
    background-color: orange;
    font-family: "tahoma";
}
table{
    border-collapse: collapse;
}
td{
    height: 68px;
    width: 68px;
    border: aliceblue;
}

.w{
    background-color: white;}
.b{
    background-color: black;}